
#banner-3{
    position: relative;
    background: url("../images/banner/p-1.png")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    opacity: 1;
}

#banner-4{
    position: relative;
    background: url("../images/banner/banner-2.jpg")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

