/*----------------------
 SERVICE
-----------------------*/
h5.subtitle {
  color: $primary-color;
  margin-bottom: 10px;
  font-weight: 300;
}

.service-heading {
  margin-bottom: 50px;
}

.service-images {
  margin-bottom: -200px;
  border: 10px solid $light;
  z-index: 9999;
}

.service-content {
  padding-top: 60px;
  padding-left: 15px;

  h1 {
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

.service-icon {
  margin-right: 20px;
  color: $light;
  font-size: 25px;
  width: 50px;
  height: 50px;
  background: $primary-color;
  text-align: center;
  border-radius: 50%;
  padding-top: 5px;
}

.service-block {
  margin-bottom: 50px;
}


.service-inner-content h4 {
  text-transform: uppercase;
}


/*----------------------
 WEB SERVICES
-----------------------*/
#services-2 {
  position: relative;
  background: url("../images/bg/6.jpg")no-repeat fixed 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;

  &:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(30deg, rgba(121, 110, 255, 0.95) 0%, rgba(33, 200, 122, 0.95) 100%);
  }
}


.web-service-block {
  text-align: center;
  padding: 35px 25px;
  transition: .3s;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  margin-bottom: 10px;

  background: $light;

  i {
    color: $black;
    font-size: 70px;
    margin-bottom: 30px;
    display: block;
  }

  h3 {
    color: $black;
    transition: 0.3s;
  }

  p,li,a{
    // left align for the description
    text-align: left;
    color: $black;
    margin-top: 15px;
    transition: 0.3s;
  }

  i{
    color: $black;
    // in sync with others
    transition: 0.3s;
  }

  a {
    text-decoration: underline;
  }

  
  &:hover {
    -webkit-box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
      box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
  }
}

.service-img {
  margin-bottom: -200px;
  border: 10px solid $light;
  z-index: 9999;

}

/* when jumping to a section, scroll up a bit to 
  prevent the content from being covered by the nav bar
*/
.scroll-offset {
  /* magic number for now, should be relative to
    height of the nav bar
  */
  scroll-margin-top: 160px;
}

.vertical-align{
  display: flex;
  align-items: center;
  /* Align vertical */
}