<head>
  <meta charset="UTF-8">
  <style>

    .technology-caption {
      font-size: 15px;
      color: #555;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
    }
  </style>
</head>

<div id="NCS" class="g-block columns pt-5 pb-5 mt-0 mb-0 bg-none in-view">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-0 order-lg-">
        <div class="column-bg-color bg- ">
          <div><h2 class="title s_title secondary_title">NCS</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-0 order-lg-">
        <div>
          <p class="main_text">
            <!-- <br><br> -->
            Noise correction for sCMOS (NCS) is a denoising algorithm designed specifically for the scientific
            Complementary Metal–Oxide–Semiconductor (sCMOS) camera. sCMOS have pixel-dependent noise. NCS considers
            the statistics of individual pixels and denoise the image based on the frequency constraint on the
            optical system. As a result, NCS maximally preserves the fidelity of the image without introducing any
            artifacts.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 offset-lg-0 order-lg-1">
        <div class="column-bg-color bg- ">
          <div>
            <div style="width: 601px" class="wp-caption aligncenter"><img
              aria-describedby="caption-attachment-3284" decoding="async" loading="lazy" class="wp-image-3284 size-full"
              src="images/technology/ncs-1.png" alt=""
              width="591" height="auto"
              srcset=""
              sizes="(max-width: 591px) 100vw, 591px">
              <p id="caption-attachment-3284" class="technology-caption">

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
