<div id="SMLM" class="g-block columns pt-5 pb-5 mt-0 mb-0 bg-none in-view">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-0 order-lg-">
        <div class="column-bg-color bg- ">
          <div><h2 class="title s_title secondary_title">SMLM</h2>
            <p class="main_text">
              Single-molecule localization microscope (SMLM) is a type of super-resolution microscope including
              Stochastic Optical Reconstruction Microscopy (STORM), Photoactivated Localization Microscopy (PALM), and
              DNA points accumulation for imaging in nanoscale topography (DNA-PAINT). The principle of SMLM is based
              on isolating the fluorescence emission from individual molecules, even if they are closely packed
              together. In a typical SMLM experiment, only a sparse subset of fluorescent molecules is activated to
              the fluorescent state, ensuring that activated molecules are sufficiently far apart from each other.
              This allows for the precise localization of each activated molecule. Repeating this process thousands of
              times, with different subsets of molecules activated in each cycle, a high-resolution image is
              reconstructed from the accumulated localizations.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 offset-lg-0 order-lg-">         
        <div class="column-bg-color bg- ">
          <div>
            <div style="width: 601px" class="wp-caption aligncenter"><img
              aria-describedby="caption-attachment-3284" decoding="async" loading="lazy" class="wp-image-3284 size-full"
              src="images/technology/smlm-1.png" alt=""
              width="591" height="auto"
              srcset=""
              sizes="(max-width: 591px) 100vw, 591px">
              <p id="caption-attachment-3284" class="wp-caption-text">
                Principle of SMLM. In each frame of the raw images, we localize
                the emitters’ positions and reconstruct them on the super-resolution image.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
