<head>
  <meta charset="UTF-8">
  <style>

    .technology-caption {
      font-size: 15px;
      color: #555;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
    }
  </style>
</head>

<div id="SPTNET" class="g-block columns pt-5 pb-5 mt-0 mb-0 bg-none in-view">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-0 order-lg-">
        <div class="column-bg-color bg- ">
          <div><h2 class="title s_title secondary_title">SPTNET</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-0 order-lg-">
        <div>
          <p class="main_text">
            <br>
            Single particle tracking network (SPTNET) is a deep neuron network algorithm that simultaneously tracks
            multiple particles moving at high speed. Meanwhile, SPTNET can output each particle’s diffusion
            coefficient and Hurst parameter.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 offset-lg-0 order-lg-1">
        <div class="column-bg-color bg- ">
          <div>
            <br>
            <div style="width: 601px" class="wp-caption aligncenter"><img
              aria-describedby="caption-attachment-3284" decoding="async" loading="lazy" class="wp-image-3284 size-full"
              src="images/technology/sptnet-1.png" alt=""
              width="591" height="auto"
              srcset=""
              sizes="(max-width: 591px) 100vw, 591px">
              <p id="caption-attachment-3284" class="technology-caption">
                Diagram of the architecture of SPTnet. The inputs of this neural network is 30
                or 100 frames of 64 pixels by 64 pixels video. And the output is two diffusion-related parameters: Hurst exponent
                and generalized diffusion coefficient.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
