<head>
  <meta charset="UTF-8">
  <style>

    .technology-caption {
      font-size: 15px;
      color: #555;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
    }
  </style>
</head>

<div id="TurboSMLM" class="g-block columns pt-5 pb-5 mt-0 mb-0 bg-none in-view">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-0 order-lg-">
        <div class="column-bg-color bg- ">
          <div><h2 class="title s_title secondary_title">TurboSMLM</h2>
            <p class="main_text">
              <br>
              To generate super-resolution images, Single-molecule localization microscope (SMLM) requires intensive
              computation process. Current solutions, including commercialized products, mandate a two-step process:
              first, the acquisition of the dataset, followed by its processing. This sequential approach means users
              cannot visualize the image in real-time during acquisition, leaving them in the dark about their sample
              until post-processing.
            </p>
            <p class="main_text">
              Recognizing this issue, we reprogrammed the state-of-the-art SMLM reconstruction algorithm in Taichi-a
              high-performance parallel computation framework, accelerating the reconstruction speed hundreds of times
              faster than the serial processing CPU approach. We name this program TurboSMLM. Given TurboSMLM’s
              superior reconstruction speed surpasses the image acquisition speed, we can process data during
              acquisition, providing a near real-time image reconstruction on SMLM system. Users could access the
              super-resolution image while taking images.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 offset-lg-0 order-lg-">
        <div class="column-bg-color bg- ">
          <div>
            <div style="width: 601px" class="wp-caption aligncenter"><img
              aria-describedby="caption-attachment-3284" decoding="async" loading="lazy" class="wp-image-3284 size-full"
              src="" alt=""
              width="591" height="auto"
              srcset=""
              sizes="(max-width: 591px) 100vw, 591px">
              <p id="caption-attachment-3284" class="technology-caption">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
