<section class="section" id="services-2">
    <div class="container">
        <div class="mycarousel">
            <div class="img-div">
                <img src="images/gallery/placeholder.jpg" width="300" height="auto">
            </div>
            <div class="img-div">
                <img src="images/gallery/placeholder.jpg" width="300" height="auto">
            </div>
            <div class="img-div">
                <img src="images/gallery/placeholder.jpg" width="300" height="auto">
            </div>
            <div class="img-div">
                <img src="images/gallery/placeholder.jpg" width="300" height="auto">
            </div>
            <div class="img-div">
                <img src="images/gallery/placeholder.jpg" width="300" height="auto">
            </div>
        </div>
    </div>
</section>