<section class="section" id="section-testimonial">
        <div class="container">
           <div class="row align-items-center">
                <div class="col-lg-4 col-sm-12 col-md-12">
                    <div class="section-heading testimonial-heading">
                        <h1>Our team</h1>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="images/people/fang_huang.png" alt="Fang Huang" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Fang Huang</h4>
                                       <h6>Ph.D., Co-founder</h6>
                                   </div>
                               </div>

                               Dr. Huang is Reilly Associate Professor of Biomedical Engineering at Purdue University 
                               in the Weldon School of Biomedical Engineering. Fang Huang earned his B.S. in Physics 
                               at the University of Science and Technology of China in 2004 and his Ph.D. in Physics 
                               from the University of New Mexico in 2011 (Advisor: Keith Lidke). Before joining Purdue, 
                               Dr. Huang worked with Joerg Bewersdorf as a Postdoctoral Fellow in the Department of Cell 
                               Biology at Yale University.

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="images/people/yilun_li.png" alt="Yilun Li," class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Yilun Li</h4>
                                       <h6>Ph.D. Candidate, Co-founder</h6>
                                   </div>
                               </div>

                               Yilun is a Ph.D. Candidate (expects to graduate in May 2024) at Purdue University in the 
                               Weldon School of Biomedical Engineering. Yilun Li earned his B.S. in Physics at the University 
                               of Science and Technology of China in 2018.

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    
                     <div class="row">
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="images/people/junwei_zhou.png" alt="Testimonial author" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Junwei Zhou</h4>
                                       <h6>M.S., Co-founder</h6>
                                   </div>
                               </div>

                               Junwei earned his Master's degree in Computer Science at University of Michigan, Ann Arbor 
                               in 2023, and earned his Bachelor's degree in Computer Science and Geophysics at University of 
                               Science and Technology of China in 2021. He has interned at Amazon and Mechsoft as a software 
                               engineer before. He is proficient in high performance computing, cloud computing, computer 
                               graphics and web development.

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="images/people/shengzhi_wu.png" alt="Testimonial author" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Shengzhi Wu</h4>
                                       <h6>M.S. Candidate, Co-founder</h6>
                                   </div>
                               </div>

                               Shengzhi Wu is a Master Candidate (expects to graduate in June 2024) at National University of 
                               Singapore in Faculty of Science. Shengzhi Wu earned his B.S. in Mathematics at University of 
                               Science and Technology of China in 2021. He is experienced in scientific computation, medical 
                               image reconstruction, visualization and web development.

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    
                     <div class="row">
                        <div class="col-lg-6">
                            <div class="test-inner">
                               <div class="test-author-thumb d-flex">
                                   <img src="images/people/rongkang_xiong.png" alt="Testimonial author" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Rongkang Xiong</h4>
                                       <h6>M.S. Candidate, Chief Software Architect</h6>
                                   </div>
                               </div>

                               Rongkang Xiong is a Master's student at the School of Big Data at the University of Science 
                               and Technology of China (expected to graduate in May 2025). He obtained his Bachelor's degree 
                               in Physics from the University of Science and Technology of China in 2021. Rongkang has previously 
                               served as the head of the Intelligent Customer Service Department at Anhui Province Bidding Group - 
                               Youzhicai Company. He is also a co-founder of chatpaper.org and dataten.ai Technology.

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>