<br id="company-info_about-us">
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row justify-content-center">
                    <h2 class="section-title">
                        About us
                    </h2>
                    <div class="col-lg-12">
                        <div class="project-single-info">
                            <p>
                                NanoRes LLC specializes in the advancement of biomedical technology tailored for 
                                super-resolution microscopy. We foster deep collaborations with cell biologists, 
                                neuroscientists, and chemists, aiming to unravel pivotal biological mysteries 
                                ranging from cytokinesis and epigenetics to neural circuits and cell motility.
                                <br><br>
                                Our innovation includes the development of a multiplane Single Molecule Localization 
                                Microscope, cutting-edge real-time super-resolution image reconstruction software, 
                                and a versatile online tool for 3D/2D super-resolution image visualization. Our goal 
                                is to democratize access to super-resolution microscopy, making it easily accessible 
                                for all interested users.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>