<br id="company-info_patent">
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h2 class="section-title row justify-content-center">
                    Patent
                </h2>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="project-single-info">
                            <strong>
                                Highspeed acquisition with highspeed sensor
                                <br>
                                Imaging Noise Reduction System and Method
                            </strong>
                            <br>
                            Fang Huang, Sheng Liu
                            <br>
                            WO2018140900A1
                        </div>

                        <br><br>

                        <div class="project-single-info">
                            <strong>
                                Artifact free super-resolution tissue imaging
                            </strong>
                            <br>
                            Fan Xu, Fang Huang, Donghan Ma
                            <br>
                            WO2021026381A1
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="project-single-info">
                            <strong>
                                AI-based real-time analysis for tissue imaging
                            </strong>
                            <br>
                            Fang Huang, Peiyi Zhang, Sheng Liu
                            <br>
                            WO2020081125A1
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>