<!-- SECTIONS
  ================================================== -->
<section id="contact-info">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="contact-info-block text-center">
          <i class="pe-7s-map-marker"></i>
          <h4>Address</h4>
          <p class="lead">3032 Decatur ST, West Lafayette, IN</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="contact-info-block text-center">
          <i class="pe-7s-mail"></i>
          <h4>Email</h4>
          <p class="lead">info@nanoresolution.com</p>
        </div>
      </div>

      <!--                <div class="col-lg-4 col-sm-6 col-md-6">-->
      <!--                    <div class="contact-info-block text-center">-->
      <!--                        <i class="pe-7s-phone"></i>-->
      <!--                        <h4>Phone Number</h4>-->
      <!--                        <p class="lead"></p>-->
      <!--                    </div>-->
      <!--                </div>-->
    </div>
  </div>
</section>

<section class="section" id="contact">
  <div class="container">
    <div class="mb-4 section-title mb-2">
        <h1>Leave a Message</h1>
        <h3 class="section-title mb-2 ">
          Tell us about <span class="font-weight-normal">yourself</span>
        </h3>

        <!-- Subheading -->
        <h4 class="mb-2 ">
          Whether you have questions or you would just like to say hello, contact us through this
          <a href="https://forms.gle/4xgTXezzAwT7cX7F7" target="_blank" rel="noopener noreferrer" style="color: blue">form</a>.
        </h4>
      </div>

  </div>
</section>

<!--            <div class="row">-->
<!--                <div class="col-lg-6">-->
<!--                   &lt;!&ndash; form message &ndash;&gt;-->
<!--                    <div class="row">-->
<!--                        <div class="col-12">-->
<!--                            <div class="alert alert-success contact__msg" style="display: none" role="alert">-->
<!--                                Your message was sent successfully.-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; end message &ndash;&gt;-->
<!--                    &lt;!&ndash; Contacts Form &ndash;&gt;-->
<!--                    <form class="contact_form" action="mail.php" method="post">-->
<!--                        <div class="row">-->
<!--                            &lt;!&ndash; Input &ndash;&gt;-->
<!--                            <div class="col-sm-6 mb-6">-->
<!--                                <div class="form-group">-->
<!--                                    <label class="h6 small d-block text-uppercase">-->
<!--                                        Your name-->
<!--                                        <span class="text-danger">*</span>-->
<!--                                    </label>-->

<!--                                    <div class="input-group">-->
<!--                                        <input class="form-control" name="name" id="name" required="" placeholder="John Doe" type="text">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Input &ndash;&gt;-->

<!--                            &lt;!&ndash; Input &ndash;&gt;-->
<!--                            <div class="col-sm-6 mb-6">-->
<!--                                <div class="form-group">-->
<!--                                    <label class="h6 small d-block text-uppercase">-->
<!--                                        Your email address-->
<!--                                        <span class="text-danger">*</span>-->
<!--                                    </label>-->

<!--                                    <div class="input-group ">-->
<!--                                        <input class="form-control" name="email" id="email" required="" placeholder="john@gmail.com" type="email">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Input &ndash;&gt;-->

<!--                            <div class="w-100"></div>-->

<!--                            &lt;!&ndash; Input &ndash;&gt;-->
<!--                            <div class="col-sm-6 mb-6">-->
<!--                                <div class="form-group">-->
<!--                                    <label class="h6 small d-block text-uppercase">-->
<!--                                        Subject-->
<!--                                        <span class="text-danger">*</span>-->
<!--                                    </label>-->

<!--                                    <div class="input-group">-->
<!--                                        <input class="form-control" name="subject" id="subject" required="" placeholder="Microscope" type="text">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Input &ndash;&gt;-->

<!--                            &lt;!&ndash; Input &ndash;&gt;-->
<!--                            <div class="col-sm-6 mb-6">-->
<!--                                <div class="form-group">-->
<!--                                    <label class="h6 small d-block text-uppercase">-->
<!--                                        Your Phone Number-->
<!--                                        <span class="text-danger">*</span>-->
<!--                                    </label>-->

<!--                                    <div class="input-group ">-->
<!--                                        <input class="form-control" id="phone" name="phone" required="" placeholder="1-800-643-4500" type="text">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Input &ndash;&gt;-->

<!--                        </div>-->

<!--                        &lt;!&ndash; Input &ndash;&gt;-->
<!--                        <div class="form-group mb-5">-->
<!--                            <label class="h6 small d-block text-uppercase">-->
<!--                                How can we help you?-->
<!--                                <span class="text-danger">*</span>-->
<!--                            </label>-->

<!--                            <div class="input-group">-->
<!--                                <textarea class="form-control" rows="4" name="message" id="message" required="" placeholder="Hi there, I would like to ..."></textarea>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End Input &ndash;&gt;-->

<!--                        <div class="">-->
<!--                           <input name="submit" type="submit" class="btn btn-primary btn-circled" value="Send Message">-->

<!--                            <p class="small pt-3">We'll get back to you in 1-2 business days.</p>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                    &lt;!&ndash; End Contacts Form &ndash;&gt;-->
<!--                  -->
<!--                </div>-->

<!--                <div class="col-lg-6 col-md-6">-->
<!--                    &lt;!&ndash; START MAP &ndash;&gt;-->
<!--                  <div id="map" style="height: 400px; width: 100%;"></div>-->
<!--                    &lt;!&ndash; END MAP &ndash;&gt;-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
