<footer class="section " id="footer">
  <div class="overlay footer-overlay"></div>
  <!--Content -->
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-lg-4 col-sm-12">
        <div class="footer-widget">
          <!-- Brand -->
          <a href="index.html" class="footer-brand text-white">
            NanoRes LLC
          </a>
          <p>NanoRes LLC specializes in the advancement of biomedical technology tailored for super-resolution
            microscopy.</p>
        </div>
      </div>

      <div class="col-lg-2 col-sm-6">
        <div class="footer-widget">
          <h3>About</h3>
          <!-- Links -->
          <ul class="footer-links">
            <li>
              <a href="company-info.html#company-info_about-us">
                About Us
              </a>
            </li>
            <li>
              <a href="company-info.html#company-info_patent">
                Patent
              </a>
            </li>
            <li>
              <a href="company-info.html#company-info_people">
                People
              </a>
            </li>
            <li>
              <a href="contact.html">
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>


      <div class="col-lg-2 col-sm-6">
        <div class="footer-widget">
          <h3>Socials</h3>
          <!-- Links -->
          <ul class="list-unstyled footer-links">
            <!-- 
              Omitted links
              <li><a href="https://www.facebook.com/themefisher"><i class="fab fa-facebook-f"></i>Facebook</a></li>
              <li>
                <a href="https://www.twitter.com/themefisher"><i class="fab fa-twitter"></i>Twitter
                </a>
              </li>
              <li><a href="https://www.pinterest.com/themefisher/"><i class="fab fa-pinterest-p"></i>Pinterest
                </a></li>
              <li><a href="https://www.youtube.com/channel/UCx9qVW8VF0LmTi4OF2F8YdA"><i class="fab fa-youtube"></i>YouTube
              </a></li>
            -->
            <li><a href="https://www.linkedin.com/company/nanores-llc/"><i class="fab fa-linkedin"></i>linkedin
              </a></li>
          </ul>
        </div>
      </div>
    </div> <!-- / .row -->


    <div class="row text-right pt-5">
      <div class="col-lg-12">
        <div class="overflow-hidden">
          <!-- Copyright -->
          <!-- Example: https://www.leica-microsystems.com/ -->
          <p class="footer-copy">
            Copyright &copy;
            <script>var CurrentYear = new Date().getFullYear()
              document.write(CurrentYear)
            </script> NanoRes LLC
          </p>
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>


<!--  Page Scroll to Top  -->

<a id="scroll-to-top" class="scroll-to-top js-scroll-trigger" href="#top-header">
  <i class="fa fa-angle-up"></i>
</a>