<!-- LOADER TEMPLATE -->
<div id="page-loader">
  <div class="loader-icon fa fa-spin colored-border"></div>
</div>
<!-- /LOADER TEMPLATE -->


<!-- NAVBAR
    ================================================= -->
<nav class="navbar navbar-expand-lg navbar-dark trans-navigation fixed-top navbar-togglable">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="images/logo.png" alt="logo" style="width:100px;height:100px;">
    </a>
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse has-dropdown" id="navbarCollapse">
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#!" id="navbarWelcome" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Home
          </a>
          <!-- <ul class="dropdown-menu" aria-labelledby="navbarWelcome">
            <li><a class="dropdown-item" href="index.html">Home-1</a></li>
            <li><a class="dropdown-item" href="index-2.html">Home-2</a></li>
            <li><a class="dropdown-item" href="index-3.html">Home-3</a></li>
            <li><a class="dropdown-item" href="index-4.html">Home-4</a></li>

            <li class="dropdown dropdown-submenu dropright">
              <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

              <ul class="dropdown-menu" aria-labelledby="dropdown0301">
                <li><a class="dropdown-item" href="index.html">Submenu 01</a></li>
                <li><a class="dropdown-item" href="index.html">Submenu 02</a></li>
              </ul>
            </li>

            <li class="dropdown dropdown-submenu dropleft">
              <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

              <ul class="dropdown-menu" aria-labelledby="dropdown0301">
                <li><a class="dropdown-item" href="index.html">Submenu 01</a></li>
                <li><a class="dropdown-item" href="index.html">Submenu 02</a></li>
              </ul>
            </li>
          </ul> -->
        </li>
        <li class="nav-item dropdown">
          <a href="about.html" class="nav-link js-scroll-trigger dropdown-toggle">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarWelcome">
            <li><a class="dropdown-item" href="index.html">Coming Soon</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="service.html" class="nav-link js-scroll-trigger dropdown-toggle">
            Technology
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarWelcome">
            <li><a class="dropdown-item" href="index.html">SMLM</a></li>
            <li><a class="dropdown-item" href="index.html">3D Deep Tissue Imaging</a></li>
            <li><a class="dropdown-item" href="index.html">AI Aberrations Correction</a></li>
          </ul>
        </li>
        <li class="nav-item ">
          <a href="pricing.html" class="nav-link js-scroll-trigger">
            Exhibition
          </a>
        </li>

        <li class="nav-item dropdown">
          <a href="project.html" class="nav-link js-scroll-trigger dropdown-toggle">
            Tutorials
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarWelcome">
            <li><a class="dropdown-item" href="index.html">Instrument Usage Guide</a></li>
            <li><a class="dropdown-item" href="index.html">Software Usage Guide</a></li>
            <li><a class="dropdown-item" href="index.html">Sample Preparation Guide</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a href="contact.html" class="nav-link dropdown-toggle">
            Company
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarWelcome">
            <li><a class="dropdown-item" href="index.html">About Us</a></li>
            <li><a class="dropdown-item" href="index.html">Patent</a></li>
            <li><a class="dropdown-item" href="index.html">Contact Us</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a href="contact.html" class="nav-link dropdown-toggle">
            Program
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarWelcome">
            <li><a class="dropdown-item" href="index.html">2D Reconstruction</a></li>
            <li><a class="dropdown-item" href="index.html">3D Reconstruction</a></li>
          </ul>
        </li>

        <li class="nav-item ">
          <a href="https://nanoresolution.com/panel" class="nav-link">
            Panel
          </a>
        </li>
      </ul>
    </div> <!-- / .navbar-collapse -->
  </div> <!-- / .container -->
</nav>