<div id="INSPR" class="scroll-offset col-lg-12 col-sm-18 col-md-18 mb-30">
    <div class="web-service-block">
        <div>
            <h3><b>INSPR</b>: <em>in situ</em> Point Spread Function Retrieval</h3>
        </div>
        <div class="row">
            <div class="col-lg-8 col-sm-12 col-md-12">
                <p>INSPR toolbox is developed for both biplane and astigmatism-based setups. It constructs an in
                    situ 3D point spread
                    function (PSF) directly from the obtained single molecule dataset and features an
                    easy-to-use user interface including
                    all steps of 3D single molecule localization from INSPR model generation, pupil-based 3D
                    localization (supporting both
                    GPU with cubic spline implementation and CPU versions), drift correction, volume alignment,
                    to super-resolution image
                    reconstruction. It also contains a small single molecule dataset for users to run as an
                    example.
                </p>
                <p>
                    Full Reference: Fan Xu, Donghan Ma, Kathryn P. MacPherson, Sheng Liu, Ye Bu, Yu Wang, Yu
                    Tang,
                    Cheng Bi, Tim Kwok,
                    Alexander A. Chubykin, Peng Yin, Sarah Calve, Gary E. Landreth, and Fang Huang,
                    "Three-dimensional nanoscopy of whole
                    cells and tissues with in situ point spread function retrieval" (2020) Nature Methods,
                    17(5):
                    531-540.</p>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <figure>
                    <i class="ti-github"></i>
                    <figcaption><b>coded in</b>: MATLAB, CUDA</figcaption>
                </figure>
                <p>Available in Github at:
                    <a href="https://github.com/HuanglabPurdue/INSPR" target="_blank">
                        https://github.com/HuanglabPurdue/INSPR</a>
                </p>
                <p>
                    Contributors:
                <ul>
                    <li>Fan Xu (xu240@purdue.edu)
                    <li>Sheng Liu (liu1840@purdue.edu)
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>