<div id="Simplex_AO" class="scroll-offset col-lg-12 col-sm-18 col-md-18 mb-30">
    <div class="web-service-block">
        <div>
            <h3><b>Simplex AO</b>: Simplex Algorithm based Adaptive Optics in Single Molecule Switching Nanoscopy</h3>
        </div>
        <div class="row">
            <div class="col-lg-8 col-sm-12 col-md-12">
                <p>This package contains an example labview code module for implementing Nelder-Mead Simplex Algorithm
                    for AO and adaptive
                    PSF shaping in SMSN.</p>

                <p>Big thanks for Edward Allgeyer and George Sirinakis, University of Cambridge for programming parts of
                    subvis included in
                    this module.</p>

                <p>Full Reference: M. J. Mlodzianoski, P. J. Cheng-Hathaway, S. M. Bemiller, T. J. McCray, S. Liu, D. A.
                    Miller, B. T.
                    Lamb, G. E. Landreth, F. Huang, "Active PSF shaping and adaptive optics enable volumetric
                    localization microscopy
                    through brain sections" (2018) Nature Methods, Advance Online Publication, doi:
                    10.1038/s41592-018-0053-8.</p>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <figure>
                    <i class="ti-github"></i>
                    <figcaption><b>coded in</b>: LabView</figcaption>
                </figure>
                <p>Available in Github at:
                    <a href="https://github.com/HuanglabPurdue/AO_SMSN" target="_blank">
                        https://github.com/HuanglabPurdue/AO_SMSN</a>
                </p>
                <p>
                    Contributors:
                <ul>
                    <li>Michael Mlodzianoski (michael.mlodzianoski@gmail.com)
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>