<div id="smNet" class="scroll-offset col-lg-12 col-sm-18 col-md-18 mb-30">
    <div class="web-service-block">
        <div>
            <h3><b>smNet</b>: Deep Neural Network for Single Molecule and Super-Resolution Imaging</h3>
        </div>
        <div class="row">
            <div class="col-lg-8 col-sm-12 col-md-12">
                <p>smNet: a deep neural network to retrieve multiple classes of information from single molecule
                    emission patterns with
                    precision approaching the theoretical limit.</p>

                <p>PSF Toolbox: Pupil based PSF generator</p>

                <p>Full Reference: P. Zhang*, S. Liu*, A. Chaurasia, D. Ma, M. J. Mlodzianoski, E. Culurciello and F.
                    Huang, "Analyzing
                    complex single molecule emission patterns with deep learning"(2018) Nature Methods, doi:
                    <a href="https://doi.org/10.1038/s41592-018-0153-5"
                        target="_blank">https://doi.org/10.1038/s41592-018-0153-5</a>, *Equal Contribution
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <figure>
                    <i class="ti-github"></i>
                    <figcaption><b>coded in</b>: LuaJIT, Torch, MATLAB</figcaption>
                </figure>
                <p>Available in Github at:
                    <a href="https://github.com/HuanglabPurdue/smNet" target="_blank">
                        https://github.com/HuanglabPurdue/smNet</a>
                </p>
                <p>
                    Contributors:
                <ul>
                    <li>Peiyi Zhang (zhan2653@purdue.edu)
                    <li>Sheng Liu (liu1840@purdue.edu)
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>