<div id="NCS" class="scroll-offset col-lg-12 col-sm-18 col-md-18 mb-30">
    <div class="web-service-block">
        <div>
            <h3><b>NCS</b>: Noise Correction Algorithm for sCMOS Cameras</h3>
        </div>
        <div class="row">
            <div class="col-lg-8 col-sm-12 col-md-12">
                <p>NCS (noise correction algorithm for sCMOS (CMOS) cameras) is an algorithm that minimizes sCMOS noise
                    (termed
                    'pixel-dependent noise') from microscopy images with arbitrary structures. ​
                </p>
                <p>
                    Full Reference: S. Liu, M. J. Mlodzianoski, Z. Hu, Y. Ren, K. McElmurry, D. M. Suter, F. Huang,
                    "sCMOS noise-correction
                    algorithm for microscopy images" (2017) Nature Methods, Vol. 14, 8, 760 - 761.
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <figure>
                    <i class="ti-github"></i>
                    <figcaption><b>coded in</b>: MATLAB, Python 3.6</figcaption>
                </figure>
                <p>Available in Github at:
                    <a href="https://github.com/HuanglabPurdue/NCS" target="_blank">
                        https://github.com/HuanglabPurdue/NCS</a>
                </p>
                <p>
                    Contributors:
                <ul>
                    <li> Sheng Liu (liu1840@purdue.edu)
                    <li>David Miller (davidmiller2023.1@u.northwestern.edu)
                    <li>Ben Brenner (brenne@purdue.edu)
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>